:root {
  font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-size-med: 24px;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #111111;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #009589;
  --highlight-color: #e0186f;
  overflow: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "icon";
  src: url('lib/icons/aristotelica.icons-light.ttf');
}

@font-face {
  font-family: "company";
  src: url('lib/icons/Icons2019-Regular.otf');
}

@font-face {
  font-family: "graffiti";
  src: url('lib/fonts/Brick.otf');
}

@font-face {
  font-family: "odin";
  src: url('lib/fonts/Odin.otf');
}

@font-face {
  font-family: "old";
  src: url('lib/fonts/CloisterBlack.ttf');
}

@font-face {
  font-family: "impact";
  src: url('lib/fonts/edosz.ttf');
}

@font-face {
  font-family: "eroded";
  src: url('lib/fonts/MindF.ttf');
}

@font-face {
  font-family: "glitch";
  src: url('lib/fonts/WrongDelivery.ttf');
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
}

.icon {
  font-family: "icon";
  text-decoration: none;
  font-style: normal;
  background: none;
}

.highlight {
  color: white;
  transition:
    color 250ms ease  
  ;
}

.highlight:hover {
  color: var(--main-color);
}

.highlight2 {
  color: white;
  transition:
    color 250ms ease  
  ;
}

.highlight2:hover {
  color: var(--highlight-color);
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
}

#app {
  text-align: center;
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2f2f2f;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus {
  outline: none;
}